.list {
  padding: 0 30upx 30upx;
  box-sizing: border-box;
  overflow: hidden;
  .view {
    margin-top: 30upx;
    padding: 20upx;
    box-sizing: border-box;
    border-radius: 20upx;
    background-color: #fff;
    box-shadow: 0 0 20upx 10upx #eee;
    overflow: hidden;
  }
  .name {
    display: flex;
    align-items: center;
    padding-bottom: 16upx;
    border-bottom: 2upx solid #e0e0e0;
    text:nth-child(1) {
      background-color: #4caf50;
      border-radius: 50%;
      width: 55upx;
      height: 55upx;
      font-size: 32upx;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    text:nth-child(2) {
      padding-left: 20upx;
      color: #4b80af;
      font-size: 32upx;
    }
  }
  .rate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40upx 0;
    .li {
      width: calc(100% / 3);
      text-align: center;
    }
    .con,
    .num {
      font-size: 24upx;
    }
    .con {
      padding-top: 20upx;
    }
    text {
      color: red;
    }
  }
  .investor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .con {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text {
        text-align: left;
        color: #d3d3d3;
        font-size: 26upx;
        &:nth-child(1) {
          padding-bottom: 15upx;
        }
      }
    }
    .btn {
      font-size: 28upx;
      color: #ffffff;
      border-radius: 10upx;
      background-color: #2196f3;
      padding: 12upx 26upx;
    }
  }
  .progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30upx;
    .txt {
      color: #999;
      font-size: 26upx;
      width: 150upx;
    }
    .number {
      color: #d3d3d3;
      font-size: 26upx;
      width: 120upx;
      text-align: right;
    }
    .prog {
      width: calc(100% - 270upx);
      overflow: hidden;
    }
  }
}
